<link rel="stylesheet" href="~/css/cadastroLancamento.css" />

@model CadastroLancamentoViewModel

<main class="mainListaLancamentos">
    @Html.ValidationSummary()
    <section>
        <form asp-controller="lancamento" asp-action="cadastrar" method="post">
            <h2 class="titulo">Cadastro de Lançamentos</h2>
           
            <div>
                <label asp-for="@Model.DataLancamento" id="labelData" for="data">Data:</label>
                <input asp-for="@Model.DataLancamento" value="@DateTime.Now.ToString("dd/MM/yyyy")" type="date" id="data">
                <span asp-validation-for="@Model.DataLancamento" class="danger"></span>
            </div>

            <div>
                <label asp-for="@Model.Valor" id="labelData">Valor:</label>
                <input asp-for="@Model.Valor" id="inputValor" type="text" name="valor">
                <span asp-validation-for="@Model.Valor" class="danger"></span>
            </div>

            <label id="labelTipo" for="tipo">Tipo de lançamento:</label>
            <select id="tipo" asp-for="@Model.TipoDeLancamento">
                <option value="">Selecione uma opção</option>
                <option value="0">Receita</option>
                <option value="1">Despesa</option>
            </select>
            
            <label>Categorias:</label>
            <select asp-for="@Model.CategoriaID" asp-items="@Model.Categorias" >
                <option selected value="">Selecione uma opção</option>
            </select>
            
            <div>
                <label id="labelRecorrencia" for="recorrencia">Descricao:</label>
                <input id="" cols="30" rows="10" asp-for="@Model.Descricao" type="text">
            </div>

            <input type="submit" value="Salvar" id="botaoSalvar" onclick="converteData();">
            </form>
    </section>
</main>

@section Scripts {
    <script type="text/javascript">
        window.addEventListener("load", function (event) {
            let elemento = $("#inputValor").val();
            elemento.toLocaleString("pt-BR",
                { style: "currency", currency: "BRL" });
        });

        function converteData()
        {
            let inputData = $("#data").val();
            let data = new Date();
            inputData.value = data.getDay() + "/" + data.getMonth() + "/" + data.getFullYear();
            console.log(inputData.value)
        }
    </script>
}