<link rel="stylesheet" href="~/css/cadastroLancamento.css" />

@model CadastroLancamentoViewModel


<main class="mainListaLancamentos">
    <section>
        <form asp-controller="lancamento" asp-action="cadastrar">
            <h2 class="titulo">Cadastro de Lançamentos</h2>
           
            <div>
                <label asp-for="@Model.DataLancamento" id="labelData" for="data">Data:</label>
                <input asp-for="@Model.DataLancamento" type="date" id="data" name="data">
                <span asp-validation-for="@Model.DataLancamento" class="danger"></span>
            </div>
            
            <label id="labelTipo" for="tipo">Tipo de lançamento:</label>
            <select id="tipo" name="tipo" asp-for="@Model.TipoDeLancamento">
                <option value="">Selecione uma opção</option>
                <option value="0">Receita</option>
                <option value="1">Despesa</option>
            </select>
            
            <label id="labelTipo" for="tipo">Categorias:</label>
            <select id="tipo" name="tipo" asp-for="@Model.CategoriaID" asp-items="@Model.Categorias">
                <option value="">Selecione uma opção</option>
                @foreach(var categoria in Model.Categorias)
                {
                    <option value="@categoria.Id">@categoria.Nome</option>
                }
            </select>
            
            <div>
                <label id="labelRecorrencia" for="recorrencia">Descricao:</label>
                <textarea name="" id="" cols="30" rows="10" asp-for="@Model.Descricao"></textarea>
            </div>

            <input type="submit" value="Salvar" id="botaoSalvar">
            </form>
    </section>
</main>